@keyframes fadein {
  from { opacity: 0}
  to { opacity: 1; }
}

@keyframes zoomup {
  from { transform: translate(0px, 100vh) }
  to { transform: translate(0px, 0px) }
}

@keyframes zoomleft {
  from { transform: translate(100vh, 0px)}
  to { transform: translate(0px, 0px) }
}

@keyframes uglycolor {
  0% { color: #00F9FF; }
  25% { color: #FBFF9D; }
  50% { color: #F400FF; }
  75% { color: #FBFF9D; }
  100% { color: #00F9FF; }
}

@keyframes whoaguhb {
  0% { transform: scale(1); transform-origin: 0% 0%; }
  50% { transform: scale(1.2); transform-origin: 0% 0%;  }
  100% { transform: scale(1); transform-origin: 0% 0%;  } 
}

html, body {
  margin: 0;
  border: 0;
  padding: 1%;
  font-family: fantasy;
  font-size: 100%;

  color: #CDFCF7;
  background-color: #0F2F3F;
  background-image: linear-gradient(#000000, #092F51);
  background-size: 200%;
}

a:link    { color : #048DA4 ; text-decoration : none ;      }
a:hover   { color : #7BC7D4 ; text-decoration : underline ; }
a:visited { color : #205057 ; text-decoration : none ; }

#banner h1 {
  width: 50%;
  animation-name: zoomleft, fadein, whoaguhb;
  animation-duration: 1s, 2s, 1s;
  animation-delay: 0s, 0s, 2s;
  animation-iteration-count: 1, 1, infinite;
}

a:hover {
  animation-name: uglycolor;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

.entry-content {
  animation-name: zoomup;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  animation-delay: 0.5s;
  overflow: hidden;
}

#menu {
  animation-name: zoomleft, fadein;
  animation-duration: 1s, 2s;
  animation-delay: 0.25s, 0s;
  animation-fill-mode: backwards;
}

#post-list li {
  animation-name: zoomup;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  animation-delay: 0.5s;
  overflow: hidden;
}

#post-list {
  list-style-type: none;
}

#post-list li {
  padding-left:1%;
  border-radius:15px;
  margin-bottom: 7px;
}

#post-list li:hover {
  background: rgba(0, 0, 0, 0.3);
}

#post-list li:nth-child(odd) {
  /*background: rgba(0, 0, 0, 0.2);*/
  background-image: linear-gradient(to bottom right, rgba(0,0,0,0.3), rgba(0,0,0,0), rgba(0,0,0,0));
}

#post-list li article footer {
  padding-left: 1%;
}

#post-list li article div p {
  padding-left: 2%;
}

section > h2:first-child {
  animation-name: fadein;
  animation-duration: 2s;
}

#contentinfo a, #banner h1 a {
  animation-name: uglycolor;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

body.home header.body h1:first-child a:hover { 
  color: #CDFCF7;
}
body.home header.body h1:first-child a:link { 
  color: #CDFCF7;
}
body.home header.body h1:first-child a:visited { 
  color: #CDFCF7;
}